@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    @apply bg-gray-50 dark:bg-gray-800;
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @apply max-w-2xl mx-auto;
  }

  * {
    @apply text-gray-900 dark:text-gray-50
  }

  .page {
    height: calc(100vh - 4rem);
  }

  .separator-text {
    @apply text-lg mt-6 mb-3
  }

  .btn {
    @apply px-4 py-2 bg-purple-500 hover:bg-purple-600 border-0 rounded-lg text-purple-200 font-semibold focus:ring-2 ring-purple-300 transition-all
  }
}
